In [15]:
import pandas as pd

linear_data = {
    'None': [59.0227, 82.3416, 92.598],
    'CFS+GSW': [51.1853, 63.5704, 68.5535],
    'InfoGain': [48.089, 60.0387, 72.7625],
    'Relief': [51.4756, 60.2806, 68.2632],
}
linear_data = pd.DataFrame(linear_data, index=['NB', 'LR', 'KNN'])

nonlinear_data = {
    'None': [61.0063, 74.0203, 88.4857],
    'CFS+GSW': [60.0387, 64.5864, 71.6981],
    'InfoGain': [61.1998, 60.9579, 60.4741],
    'Relief': [52.3464, 56.4586, 55.7813],
}
nonlinear_data = pd.DataFrame(nonlinear_data, index=['NB', 'LR', 'KNN'])

all_data = {
    'None': [62.119, 0, 91.582],
    'CFS+GSW': [54.5235, 69.7146, 76.0039],
    'InfoGain': [49.0082, 66.8602, 68.8437],
    'Relief': [53.6043, 62.1674, 65.7475],
}
all_data = pd.DataFrame(all_data, index=['NB', 'LR', 'KNN'])

In [16]:
linear_data

        None  CFS+GSW  InfoGain   Relief
NB   59.0227  51.1853   48.0890  51.4756
LR   82.3416  63.5704   60.0387  60.2806
KNN  92.5980  68.5535   72.7625  68.2632

In [17]:
nonlinear_data

        None  CFS+GSW  InfoGain   Relief
NB   61.0063  60.0387   61.1998  52.3464
LR   74.0203  64.5864   60.9579  56.4586
KNN  88.4857  71.6981   60.4741  55.7813

In [18]:
all_data

       None  CFS+GSW  InfoGain   Relief
NB   62.119  54.5235   49.0082  53.6043
LR    0.000  69.7146   66.8602  62.1674
KNN  91.582  76.0039   68.8437  65.7475